{% extends "layout.html" %}

{% block body %}

<form method="post">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
            {% for category, msg in messages %}
                <li class="{{ category }}">{{ msg }}</li>
            {% endfor %}
        </ul>        
      {% endif %}
    {% endwith%}
    
    <div class="mb-2 row">
      <label for="company" class="col-form-label-sm">Company</label>
      <input type="text" class="form-control form-control-sm" id="company" name="company" value="{{ row['company'] }}" aria-describedby="companyHelp">
    </div>

    <div class="mb-2 row">
      <label for="street" class="col-form-label-sm">Street</label>
      <input type="text" class="form-control form-control-sm" id="street" name="street" value="{{ row['street'] }}">
    </div>
    
    <div class="mb-2 row">
      <label for="suburb" class="col-form-label-sm">Suburb</label>
      <input type="text" class="form-control form-control-sm" id="suburb" name="suburb" value="{{ row['suburb'] }}">
    </div>

    <div class="mb-2 row">
      <label for="contact_person" class="col-form-label-sm">Contact Person</label>
      <input type="text" class="form-control form-control-sm" id="contact_person" name="contact_person" value="{{ row['contact_person'] }}">
    </div>

    <div class="mb-2 row">
      <label for="contact_number" class="col-form-label-sm">Contact Number</label>
      <input type="text" class="form-control form-control-sm" id="contact_number" name="contact_number" value="{{ row['contact_number'] }}">
    </div>

    <div class="mb-2 row">
      <label for="email" class="col-form-label-sm">Email</label>
      <input type="email" class="form-control form-control-sm" id="email" name="email" value ="{{ row['email'] }}">
    </div>

    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <a href="/client/search" type="submit" class="btn btn-primary">Back</a>
    <button href="#" type="submit" class="btn btn-primary">Update</button>

</form>

{% endblock %}